<h4>LOG IN BABY</h4>
<form method="POST" action="/users/login">
    <label>Email:</label>
    <input type="text" name="email">

    <label>Password:</label>
    <input type="password" name="password">
    <input type="submit" value="log in">
</form>